@model Domain.POCO.Taak

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Taak</legend>

    <div class="display-label">Naam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naam)
    </div>

    <div class="display-label">Omschrijving</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Omschrijving)
    </div>

    <div class="display-label">IngeplandVanaf</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IngeplandVanaf)
    </div>

    <div class="display-label">IngeplandTot</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IngeplandTot)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Naam)
    </div>

    <div class="display-label">Prioriteit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prioriteit.Naam)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaakId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
