@model IEnumerable<Domain.POCO.Taak>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Naam
        </th>
        <th>
            Omschrijving
        </th>
        <th>
            IngeplandVanaf
        </th>
        <th>
            IngeplandTot
        </th>
        <th>
            Status
        </th>
        <th>
            Project
        </th>
        <th>
            Prioriteit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Naam, "Details", new { id = item.TaakId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngeplandVanaf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngeplandTot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioriteit.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaakId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaakId })
        </td>
    </tr>
}

</table>
