@model Domain.POCO.Context

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Context</legend>

    <div class="display-label">Naam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naam)
    </div>

    <div class="display-label">Omschrijving</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Omschrijving)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContextID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    @foreach (var item in Model.Projecten)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Naam, "Details","Project", new { id = item.ProjectId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
        </tr>   
    }