@model IEnumerable<Domain.POCO.Taak>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Naam
        </th>
        <th>
            Omschrijving
        </th>
        <th>
            IngeplandVanaf
        </th>
        <th>
            IngeplandTot
        </th>
        <th>
            Status
        </th>
        <th>
            ProjectId
        </th>
        <th>
            PrioriteitId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngeplandVanaf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngeplandTot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrioriteitId)
        </td>
    </tr>
}

</table>
