@model Domain.POCO.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">Naam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naam)
    </div>

    <div class="display-label">Omschrijving</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Omschrijving)
    </div>

    <div class="display-label">Context</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Context.Naam)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
